<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @post.title %></h3>
  </div>
  <div class="panel-body">
    <%= @post.content %>
  </div>
</div>

<div class="panel panel-default">
  <ul class="list-group">
    <%= render @post.comments %>
  </ul>
</div>

<%= render_widget(:comments) %>

<%= render partial: 'sites/comments/form', locals: { commentable: @post } %>
