<!DOCTYPE html>
<html>
<head>
  <title>MultiTenantCMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">MultiTenantCMS</a>
      </div>
      <%= render_navigation level: 2 %>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
