<!DOCTYPE html>
<html>
<head>
  <title>MultiTenantCMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MultiTenantCMS</a>
      </div>

      <%= render_navigation do |menu|
        menu.dom_class = 'nav navbar-nav'
        menu.selected_class = 'active'
        menu.item :posts,    '文章', admin_posts_path,    highlights_on: :subpath
        menu.item :comments, '评论', admin_comments_path, highlights_on: :subpath
        menu.item :links,    '链接', admin_links_path,    highlights_on: :subpath
        menu.item :sites,    '站点', admin_sites_path,    highlights_on: :subpath
        menu.item :users,    '用户', admin_users_path,    highlights_on: :subpath
      end %>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
