<!DOCTYPE html>
<html>
<head>
  <title>MultiTenantCMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to @site.title, @site, class: "navbar-brand" %></a>
      </div>
      <%= render_navigation :level => 3 %>
    </div>
  </nav>

  <div class="container">
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
    <div class="row">
      <div class="col-xs-3">
        <%= render_navigation :level => 4 %>
      </div>
      <div class="col-xs-9">
        <div class="panel-group">
          <%= render_navigation :level => 5 %>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
