<!DOCTYPE html>
<html>
<head>
  <title>MultiTenantCMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to @site.title, @site, class: "navbar-brand" %></a>
      </div>

      <ul class="nav navbar-nav">
        <%= content_tag_for :li, @site.pages.roots do |page| %>
          <%= link_to page.title, [@site, page] %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
    <div class="row">
      <div class="col-xs-3">
				<%= render_navigation :renderer => :links %>
      </div>
      <div class="col-xs-9">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
