<!DOCTYPE html>
<html>
<head>
  <title>MultiTenantCMS</title>
  <%= stylesheet_link_tag    [@site_theme, 'application'].compact.join("/"), media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag [@site_theme, 'application'].compact.join("/"), 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to @site.title, @site, class: "navbar-brand" %></a>
      </div>
      <%= render_navigation level: 3 %>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <%= yield %>
      </div>
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            文章分类
          </div>
          <div class="list-group">
            <% @site.categories.each do |category| %>
              <%= link_to category.name, "#", class: "list-group-item" %>
            <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            文章标签
          </div>
          <div class="list-group">
            <% @site.tags.each do |tag| %>
              <%= link_to tag.name, "#", class: "list-group-item" %>
            <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            友情链接
          </div>
          <div class="list-group">
            <% @site.links.each do |link| %>
              <%= link_to link.name, link.url, class: "list-group-item" %>
            <% end %>
          </div>
        </div>
        
        <% @site.widgets.each do |widget| %>
          <%= render_widget(widget.name) %>
        <% end %>
        
      </div>
    </div>
  </div>

</body>
</html>
