<!DOCTYPE html>
<html>
<head>
  <title>MultiTenantCMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to @site.title, @site, class: "navbar-brand" %></a>
      </div>

      <ul class="nav navbar-nav">
        <%= content_tag_for :li, @site.pages do |page| %>
          <%= link_to page.title, [@site, page] %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <%= yield %>
      </div>
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            友情链接
          </div>
          <div class="list-group">
            <% @site.links.each do |link| %>
              <%= link_to link.name, link.url, class: "list-group-item" %>
            <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            管理工具
          </div>
          <div class="list-group">
             <%= link_to "新增页面", new_site_settings_page_path(@site), class: "list-group-item" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
