<!DOCTYPE html>
<html>
<head>
  <title>MultiTenantCMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">MultiTenantCMS</a>
      </div>
 
      <%= render_navigation level: 1 %>

      <ul class="nav navbar-nav navbar-right">
        <% unless user_signed_in? %>
          <li><%= link_to '注册', new_user_registration_path, class: 'top-create-account' %></li>
          <li><%= link_to '登录', new_user_session_path, class: 'top-sign-in' %></li>
        <% else %>
          <li class="dropdown">
            <%= link_to '#', "class" => "dropdown-toggle", "data-toggle" => "dropdown" do %>
              我的站点 <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <%= content_tag_for :li, current_user.sites do |site| %>
                <%= link_to site.title, site %>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to '新建站点', new_settings_site_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to '#', "class" => "dropdown-toggle", "data-toggle" => "dropdown" do %>
              <%= current_user.name %> <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to '退出登录', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
